.App-header {
  background-color: #FFFFFF;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
}


.logo {
  text-decoration: none; /* Supprime la décoration par défaut */
  color: #1C4D85;
  display: flex;
  align-items: center;
  font-size: 24px;/* Augmente légèrement la taille du texte pour le nom */
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.logo img {
  height: 40px; /* Ajuste la taille de l'icône ou du logo */
  margin-right: 10px; /* Espace entre le logo et le nom */
  transition: transform 0.3s ease;
}

.logo:hover {
  color: #61dafb; /* Change la couleur du texte au survol */
  transform: scale(1.05); /* Lien légèrement agrandi */
}

.logo:hover img {
  transform: rotate(10deg); /* Rotation légère du logo au survol */
}

.logo:active {
  color: #21a1f1; /* Couleur plus foncée au clic */
  transform: scale(0.98); /* Réduit légèrement le lien pour un effet de clic */
}

button {
  height: 36px;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: transparent; /* Couleur d'origine */
  color: #282c34; /* Contraste avec la navbar */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); Ombre légère */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #E0F7FF; /* Couleur plus foncée au hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
  transform: translateY(-2px); /* Effet de soulèvement */
}

button:active {
  background-color: #E0F7FF; /* Couleur encore plus foncée lors du clic */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Ombre réduite au clic */
  transform: translateY(0px); /* Revenir à l'état normal */
}